@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Genshin Impact";
  src: url("../public/fonts/genshin-impact-font.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --five-star-gradient: linear-gradient(#805248, #bd813c);
  --four-star-gradient: linear-gradient(#5f5581, #886ca5);
  --default-gradient: linear-gradient(#65696f, #848788);
  --cream: #fffbf0;
  --cream10: #fffbf010;
  --cream15: #fffbf015;
  --cream25: #fffbf025;
  --cream40: #fffbf025;
  --red: #fe4949;
  --dark-red: #d12d2d;
  --darker-red: #981212;
  --green10: #9deab210;
  --green25: #9deab225;
  --green40: #9deab240;
  --green50: #9deab250;
  --light-green: #e5ffd9;
  --green: #9ce67b;
  --dark-green: #7ecf58;
  --darker-green: #5da53b;
  --character-card-width: 133px;
  --character-card-height: 179px;
  --character-img-height: 151px;
  --character-card-width-s: 106.4px;
  --character-card-height-s: 143.2px;
  --character-img-height-s: 120.8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
}

html,
body {
  background: var(--foreground-rgb);
  height: 100%;
  width: 100%;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Contains the header and main */
.container {
  font-family: "Genshin Impact";
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  background-image: url("../public/img/abyss-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  width: auto;
  align-items: center;
  grid-row: 1 / 2;
  padding: 0px 40px 0px 40px;
}

.header-info {
  font-size: 1.6rem;
}

.show-options {
  margin-left: auto;
  border: var(--cream);
  color: var(--cream);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-icon {
  width: 2.3rem;
}

.show-options-text {
  font-size: 1.01rem;
  padding-left: 2px;
  padding-right: 2px;
}

.options-overlay {
  position: absolute;
  display: flex;
  z-index: 10;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
}

.options-window {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90vw;
  height: 90vh;
  background-color: #2f2a3b;
  padding: 15px 0px 15px 0px;
  border-radius: 15px;
}

.options-window .characters {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.options-window .character-list {
  padding: 10px 20px;
}

.options-window .character-filters {
  margin-top: auto;
  padding: 15px 0px 15px 0px;
}

.option-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.save-options {
  border: var(--green10);
  color: var(--light-green);
  background-color: var(--green25);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
  width: 8rem;
  align-self: center;
}

.save-options:hover {
  border: var(--green25);
  background-color: var(--green40);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.save-options:active {
  border: var(--green40);
  background-color: var(--green50);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.close-options {
  border: var(--cream10);
  color: white;
  background-color: var(--cream15);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
  width: 8rem;
  align-self: center;
}

.close-options:hover {
  border: var(--cream15);
  background-color: var(--cream25);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.close-options:active {
  border: var(--cream25);
  background-color: var(--cream40);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.main {
  display: grid;
  grid-row: 2 / 13;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgba(0, 0, 0, 0.5);
}

/** CHARACTERS **/
.characters {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-column: 1 / 9;
  max-height: 100vh;
  min-height: 0;
  background-color: rgba(255, 251, 240, 0.1);
}

.character-list {
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 133px);
  grid-template-rows: repeat(auto-fit, 179px);

  overflow-y: scroll;

  justify-content: center;
  gap: 10px;

  grid-row: 1 / 12;
}

.random-character-list::-webkit-scrollbar,
.character-list::-webkit-scrollbar {
  width: 8px;
}

.random-character-list::-webkit-scrollbar-thumb,
.character-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--cream);
}

.random-character-list::-webkit-scrollbar-thumb:hover,
.character-list::-webkit-scrollbar-thumb:hover {
  background-color: #cecbc2;
}
.random-character-list::-webkit-scrollbar-track,
.character-list::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: rgba(217, 217, 217, 0.2);
}

.character-filter-group {
  display: flex;
  gap: 0.3rem;
}

.character-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 12 / 13;
  gap: 1.5rem;
}

.filter {
  border: var(--cream10);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
}

.filter:hover {
  border: var(--cream10);
  background-color: var(--cream10);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
}

.filter:active {
  border: var(--cream25);
  background-color: none;
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
}

.filter.selected {
  background-color: var(--cream25);
}

.filter-icon {
  height: 2rem;
}

.filter-reset {
  border: var(--red);
  color: var(--red);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.filter-reset:hover {
  border: var(--dark-red);
  color: var(--dark-red);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.filter-reset:active {
  border: var(--darker-red);
  color: var(--darker-red);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

/** TEAM BUILDER **/
.team-builder {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-column: 9 / 13;
  max-height: 100vh;
  min-height: 0;
  background-color: var(--cream10);
}

.selector {
  grid-row: 1 / 6;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.selector-options {
  grid-row: 1 / 2;
  padding: 10px 0px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selector-buttons {
  display: flex;
  gap: 15px;
}

.number-input {
  color: black;
  margin-left: 10px;
  padding: 3px 3px 3px 6px;
  border-radius: 5px;
  width: 3rem;
}

.randomize-button {
  border: var(--green);
  color: var(--green);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
  width: 8rem;
}

.randomize-button:hover {
  border: var(--dark-green);
  color: var(--dark-green);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.randomize-button:active {
  border: var(--darker-green);
  color: var(--darker-green);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.clear-button {
  border: var(--red);
  color: var(--red);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.clear-button:hover {
  border: var(--dark-red);
  color: var(--dark-red);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.clear-button:active {
  border: var(--darker-red);
  color: var(--darker-red);
  border-style: solid;
  border-width: 0.13rem;
  border-radius: 0.5rem;
  padding: 0px 8px 0px 8px;
  height: 2.125rem;
}

.random-character-list {
  padding: 10px 10px;
  display: grid;
  grid-row: 2 / 7;
  grid-template-columns: repeat(auto-fit, 106.4px);
  grid-template-rows: repeat(auto-fit, 143.2px);

  overflow-y: scroll;

  justify-content: center;
  gap: 10px;
}

.random-character-list .character-name {
  font-size: 0.75em;
  line-height: 22.39px;
}

.random-character-list .character-card,
.random-character-list .five-star,
.random-character-list .four-star,
.random-character-list .img-holder {
  width: var(--character-card-width-s);
}

.random-character-list .character-card {
  height: var(--character-card-height-s);
}

.random-character-list .five-star,
.random-character-list .four-star,
.random-character-list .img-holder,
.random-character-list .character-img {
  height: var(--character-img-height-s);
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(209, 160, 113, 0.4);
  grid-row: 6 / 13;
}

/* CHARACTER CARD */
.character-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: var(--character-card-width);
  height: var(--character-card-height);
  border-radius: 5px;
  position: relative;
}

.character-img {
  width: auto;
  height: var(--character-img-height);
  object-fit: cover;
  margin: auto;
  display: block;
}

.unowned {
  opacity: 0.5;
}

.img-holder {
  position: relative;
  background-image: url(../public/icons/other/icon-triquetra-faint.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  width: var(--character-card-width);
  height: var(--character-img-height);
}

.five-star {
  position: absolute;
  background-image: url(../public/icons/other/icon-triquetra-faint.png),
    var(--five-star-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  width: var(--character-card-width);
  height: var(--character-img-height);
}

.four-star {
  position: absolute;
  background-image: url(../public/icons/other/icon-triquetra-faint.png),
    var(--four-star-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  width: var(--character-card-width);
  height: var(--character-img-height);
}

.default {
  position: absolute;
  background-image: url(../public/icons/other/icon-triquetra-faint.png),
    var(--default-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  width: var(--character-card-width);
  height: var(--character-img-height);
}

.character-name {
  width: 100%;
  line-height: 28px;
  align-self: center;

  font-size: 0.92em;
  color: black;
  background: var(--cream);
  padding: 0px 6px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
